@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --mainBlue: #244288;
  --mainRed: #da202d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainBlue);
  font-family: "Segoe UI";
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* Home Div */

.home__div {
  width: 100%;
  height: 40rem;
  background: url("Images/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.main__header {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 5rem;
}

.main__logo {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  margin-left: 5rem;
  margin-top: 1rem;
}

.main__logo > img {
  max-width: 100%;
  max-height: 100%;
}

.main__nav {
  float: right;
  list-style: none;
  margin-right: 5rem;
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__nav > li {
  display: inline;
  font-size: 1.1rem;
  font-weight: bold;
}

.main__nav > li:not(:last-child) {
  margin-right: 2rem;
  cursor: pointer;
}

.main__nav > li a {
  transition: 2s all;
}

.main__nav > li a:hover {
  color: var(--mainRed);
}

.homeDiv__div {
  width: 100%;
  /* max-height: calc(100vh - 5rem); */
  height: 27rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homeDiv__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5rem;
  padding-top: 8rem;
}

.homeDiv__left > h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.homeDiv__left > p {
  margin-bottom: 1rem;
  width: 40rem;
}

.homeDiv__left > button {
  border: none;
  background-color: var(--mainBlue);
  color: white;
  padding: 0.7rem 2.2rem;
  border-radius: 10px;
  margin-top: 2rem;
  transition: 2s all;
}

.homeDiv__left > button:hover {
  background-color: var(--mainRed);
  cursor: pointer;
}

.homeDiv__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeDiv__right > img {
  max-width: 35rem;
  max-height: 35rem;
  margin-top: 3rem;
}

/* Home For Small */

.home__for__small {
  display: none;
  width: 100%;
  height: 70rem;
  position: relative;
  grid-template-rows: 62% 38%;
}

.burgerIcon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2rem;
  top: 3.3rem;
  cursor: pointer;
  transition: 1s all;
  z-index: 100;
}

.burgerIcon:hover {
  transform: rotateZ(10deg);
}

.homeForSmall__statue {
  background: url("Images/mainImg_2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.homeForSmall__txt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("Images/clouds.jpg");
  background-position: center;
  background-size: cover;
}

.homeForSmall__txtContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 86%;
  margin: 0rem auto;
}

.homeForSmall__txtContent > h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.homeForSmall__txtContent > p {
  text-align: left;
  font-size: 1.2rem;
}

.homeForSmall__txtContent > button {
  border: none;
  background-color: var(--mainBlue);
  color: white;
  padding: 0.7rem 2.2rem;
  border-radius: 10px;
  margin-top: 2.2rem;
  transition: 2s all;
}

.homeForSmall__txtContent > button:hover {
  background-color: var(--mainRed);
  cursor: pointer;
}

.mini__navDiv {
  width: 0%;
  position: absolute;
  right: 0;
  height: 100%;
  background: url("Banners/verticalBanner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 2s all;
}

.mini__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin-top: -2rem;
}

.mini__nav > li {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.mini__nav > li:first-child {
  margin-top: 0rem;
}

.mini__nav a {
  color: white;
  padding: 1rem;
  transition: 2s all;
}

.mini__nav a:hover {
  color: var(--mainRed);
}

.mini__navDiv > hr {
  width: 20rem;
  margin: 2rem auto;
}

.mini__navDiv > button {
  border: none;
  background-color: white;
  color: var(--mainBlue);
  padding: 0.7rem 2.2rem;
  border-radius: 10px;
  margin-top: 1rem;
  transition: 2s all;
  font-weight: bold;
}

.mini__navDiv > button:hover {
  background-color: var(--mainRed);
  cursor: pointer;
}

/* Second Div */

.second__div {
  width: 100%;
  height: 60rem;
}

.banners {
  width: 100%;
  height: 10rem;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banners > h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.secondDiv__banner {
  background: url("Banners/blueBanner.png");
}

.secondDiv__content {
  width: 100%;
  height: auto;
  background: url("Images/secondImg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.secondDiv__contentDiv {
  width: 86%;
  height: 50rem;
  padding: 3rem 0rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: left;
}

.secondDiv__contentDiv > h3 {
  font-size: 2rem;
  word-spacing: 10px;
  margin-bottom: 2rem;
}

/* Third Div */

.third__div {
  width: 100%;
  height: auto;
}

.thirdDiv__banner {
  background: url("Banners/redBanner.png");
  z-index: 100;
}

.thirdDiv__content {
  width: 100%;
  height: 42rem;
  background: url("Images/thirdImg.jpg");
  background-position: center;
  background-size: cover;
}

.thirdDiv_contentTop {
  width: 86%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0rem auto;
  padding: 3rem 0rem;
}

.thirdDiv_contentTop > h3 {
  font-size: 2rem;
  word-spacing: 10px;
  margin-bottom: 2rem;
}

.thirdDiv_contentTop > p {
  font-size: 1.2rem;
}

.thirdDiv__contentBottom {
  width: 86%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.thirdDiv_contentBottomLeft > h4 {
  font-size: 1.4rem;
}

.thirdDiv_contentBottomRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdDiv_contentBottomRight > img {
  width: 22rem;
  height: 22rem;
}

/* Fourth Div */

.fourth__div {
  width: 100%;
  height: auto;
}

.fourthDiv__banner {
  background: url("Banners/blueBanner.png");
}

.fourthDiv__content {
  width: 100%;
  height: 45rem;
  background: url("Images/fourthImg.jpg");
  background-position: center;
  background-size: cover;
}

.fourthDiv__contentTop {
  width: 86%;
  display: grid;
  margin: 0rem auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0rem;
}

.fourthDiv__contentTop h3 {
  font-size: 2rem;
  word-spacing: 10px;
  margin-bottom: 2rem;
}

.appConditions,
.workConditions {
  margin-left: 1.2rem;
  width: 90%;
}

.appConditions > li,
.workConditions > li {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.appConditions > li:last-child {
  list-style: none;
  margin-left: -1.2rem;
}

.fourthDiv__contentBottom {
  width: 86%;
  margin: 1rem auto;
}

/* Fifth Div */

.fifth_div {
  width: 100%;
  height: auto;
}

.fifthDiv__banner {
  background: url("Banners/redBanner.png");
}

.fifthDiv__content {
  width: 100%;
  height: 50rem;
  background: url("Images/fifthImg.jpg");
  background-position: center;
  background-size: cover;
}

.fifthDiv__contentDiv {
  width: 86%;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0rem auto;
  padding: 3rem 0rem;
}

.appProcedure,
.documents {
  height: 50rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.appProcedure::-webkit-scrollbar,
.documents::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.fifthDiv__contentDivLeft > h3,
.fifthDiv__contentDivRight > h3 {
  font-size: 2rem;
  word-spacing: 10px;
  margin-bottom: 3rem;
}

.appProcedure,
.documents {
  padding-left: 1.5rem;
  width: 90%;
  padding-bottom: 10rem;
}

.appProcedure > li,
.documents > li {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.appProcedure li:first-child,
.documents li:first-child,
.documents li:last-child,
.documents li:nth-child(12) {
  list-style: none;
  margin-bottom: 2rem;
  margin-left: -1.2rem;
}

.appGTSP {
  cursor: pointer;
  transition: 2s all;
}

.appGTSP:hover {
  color: var(--mainRed);
}

/* Footer */

.footer {
  width: 100%;
  height: 18rem;
  background-color: var(--mainBlue);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__divs > img {
  width: 12rem;
  height: 12rem;
  margin: 3rem;
}

.footer__divs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav {
  list-style: none;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__navs {
  color: white;
  border-left: 2px solid white;
  margin-bottom: 1rem;
  padding-left: 1rem;
  margin-left: -5rem;
}

.footer__navs a {
  color: white;
}

.footer__nav li:nth-child(1) {
  border-left: 2px solid white;
}

.footer__nav li:nth-child(2) {
  border-left: 2px solid var(--mainRed);
}

.footer__nav li:nth-child(3) {
  border-left: 2px solid white;
}

.footer__nav li:nth-child(4) {
  border-left: 2px solid var(--mainRed);
}

.footer__navs a {
  transition: 2s all;
  cursor: pointer;
}

.footer__navs a:hover {
  color: var(--mainRed);
}

.footer__lastDiv {
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
}

.footer__lastDiv > h3 {
  border-bottom: 2px solid var(--mainBlue);
  margin-bottom: 1rem;
}

/* REGISTRATION PAGE */

.regStr {
  background: url("Images/fifthImg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* RegSTR header */

.regStr__header {
  width: 100%;
  height: 5rem;
  background: url("Banners/redBanner.png");
  position: sticky;
  top: 0;
}

.regStr__mainLogo {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  margin-left: 5rem;
}

.regStr__mainLogo > img {
  max-width: 100%;
  max-height: 100%;
}

.backBtn {
  color: white;
  float: right;
  margin: 2rem;
  cursor: pointer;
  transition: 2s all;
}

.backBtn:hover {
  color: var(--mainBlue);
}

/* RegSTR content */

.regStr__formDiv {
  width: 35rem;
  height: auto;
  margin: 5rem auto;
  border-top: 10px solid var(--mainRed);
  border-radius: 15px;
}

.regStr__formDiv > h3,
.regStr__formDiv > p {
  padding: 1rem;
}

.regStr__formDiv > hr {
  margin: 1rem 0rem;
}

.regStr__formDiv > span {
  color: var(--mainRed);
  padding: 1rem;
}

.regStr__formSections {
  width: 100%;
  height: 7rem;
  box-shadow: 1px 1px 5px var(--mainRed);
  border-radius: 10px;
  margin-top: 4rem;
}

.regStr__formSections p {
  padding-left: 1rem;
  padding-top: 1rem;
}

.regStr__formSections span {
  color: var(--mainRed);
}

textarea:focus, input:focus{
  outline: none;
}

.regStr__formSections input {
  margin-left: 1rem;
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--mainBlue);
  background: transparent;
  font-size: 1.1rem;
}

#gender_male {
  display: inline-block;
}

.submitFormBtn {
  border: none;
  background-color: var(--mainRed);
  color: white;
  padding: 0.7rem 2.2rem;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 2s all;
}

.submitFormBtn:hover {
  background-color: white;
  color: var(--mainRed);
  cursor: pointer;
}

.clearFormBtn {
  border: none;
  background-color: white;
  color: var(--mainRed);
  padding: 0.7rem 2.2rem;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 2s all;
  margin-left: 2rem;
}

.clearFormBtn:hover {
  background-color: var(--mainRed);
  color: white;
  cursor: pointer;
}

.footerSP {
  background-color: var(--mainRed);
}

.footer__navSP a {
  color: white;
}

.footer__navSP li:nth-child(2) {
  border-left: 2px solid var(--mainBlue);
}

.footer__navSP li:nth-child(4) {
  border-left: 2px solid var(--mainBlue);
}

.footer__navSP a:hover {
  color: var(--mainBlue);
}

.footer__lastDivSP > h3 {
  border-bottom: 2px solid var(--mainRed);
  color: var(--mainRed);
}

.footer__lastDivSP p,
.footer__lastDivSP b,
.footer__lastDivSP a {
  color: var(--mainRed);
}

.footer__lastDivSP a {
  transition: 2s all;
}

.footer__lastDivSP a:hover {
  color: var(--mainBlue);
}

/* Media Queris */

@media screen and (max-width: 1320px) {
  /* Second Div */

  .second__div {
    height: 65rem;
  }

  .secondDiv__contentDiv {
    height: 55rem;
  }
}

@media screen and (max-width: 1300px) {
  /* Home div */

  .homeDiv__left > p {
    font-size: 1rem;
  }

  .homeDiv__right > img {
    max-width: 30rem;
    max-height: 30rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  /* Home div */

  .home__div {
    display: none;
  }

  .homeForSmall__txt > p {
    font-size: 1.2rem;
  }

  .home__for__small {
    display: grid;
  }

  /* Second Div */

  .second__div {
    height: 70rem;
  }

  .secondDiv__contentDiv {
    height: 60rem;
  }
}

@media screen and (max-width: 1050px) {
  /* Fourth Div */
  .fourthDiv__content {
    height: 50rem;
  }
}

@media screen and (max-width: 1000px) {
  /* Second Div */

  .second__div {
    height: 77rem;
  }

  .secondDiv__contentDiv {
    height: 67rem;
  }

  /* Third Div */

  .thirdDiv__content {
    height: 45rem;
  }
}

@media screen and (max-width: 950px) {
  /* Fourth Div */
  .fourthDiv__content {
    height: 55rem;
  }

  /* Footer */

  .footer__navs {
    margin-left: -3rem;
  }
}

@media screen and (max-width: 900px) {
  /* Second Div */

  .second__div {
    height: 80rem;
  }

  .secondDiv__contentDiv {
    height: 70rem;
  }

  /* Third Div */

  .thirdDiv_contentBottomRight > img {
    width: 20rem;
    height: 20rem;
  }

  .fifthDiv__content {
    height: 54rem;
  }

  /* Footer */

  .footer__navs {
    margin-left: -1rem;
  }
}

@media screen and (max-width: 850px) {
  /* Home div */

  .homeForSmall__txt {
    background-position-y: -5rem;
  }

  /* Second Div */

  .second__div {
    height: 82rem;
  }

  .secondDiv__contentDiv {
    height: 72rem;
  }
}

@media screen and (max-width: 800px) {
  /* Home For Small */

  .home__for__small {
    grid-template-rows: 60% 40%;
  }

  .home__for__small {
    height: 75rem;
  }

  .homeForSmall__txt {
    background-position-y: -3rem;
    padding-top: -3rem;
    z-index: 100;
  }

  .homeForSmall__txtContent {
    margin-bottom: 5rem;
  }

  /* Second Div */

  .second__div {
    height: 84rem;
  }

  .secondDiv__contentDiv {
    height: 74rem;
  }

  /* Third Div */

  .thirdDiv__content {
    height: 47rem;
  }

  .thirdDiv_contentBottomRight > img {
    width: 18rem;
    height: 18rem;
  }

  /* Fourth Div */

  .fourthDiv__content {
    height: 58rem;
  }
}

@media screen and (max-width: 765px) {
  /* Second Div */

  .second__div {
    height: 80rem;
  }

  .secondDiv__contentDiv {
    height: 70rem;
  }

  p,
  li {
    font-size: 1.1rem !important;
  }

  h3 {
    font-size: 1.6rem !important;
    word-spacing: 1px !important;
  }

  /* Third Div */

  .thirdDiv__content {
    height: 55rem;
  }
}

@media screen and (max-width: 750px) {
  /* Third Div */

  .thirdDiv__content {
    height: 68rem;
  }

  .thirdDiv_contentBottomRight > img {
    width: 23rem;
    height: 23rem;
    margin-top: 2rem;
  }

  .thirdDiv__contentBottom {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  /* Footer */

  .footer {
    width: 100%;
    height: 30rem;
    grid-template-columns: none;
    grid-auto-rows: 45% 15% 40%;
  }

  .footer__nav {
    flex-direction: row;
  }

  .footer__navs {
    color: white;
    border-left: 2px solid white;
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  .footer__lastDiv {
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
  }

  .footer__divs > div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  /* Second Div */

  .second__div {
    height: 85rem;
  }

  .secondDiv__contentDiv {
    height: 75rem;
  }
}

@media screen and (max-width: 601px) {
  .homeForSmall__txtContent > h1 {
    font-size: 2.5rem;
  }

  /* Second Div */

  .second__div {
    height: 80rem;
  }

  .secondDiv__contentDiv {
    height: 70rem;
  }

  p,
  li {
    font-size: 1rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  h3 {
    font-size: 1.4rem !important;
    word-spacing: 0px !important;
  }

  /* Second Page! */

  .regStr__mainLogo {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
  }

  .regStr__formDiv {
    width: 30rem;
  }
}

@media screen and (max-width: 560px) {
  /* Second Div */

  .second__div {
    height: 85rem;
  }

  .secondDiv__contentDiv {
    height: 75rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .secondDiv__contentDiv::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  /* Third Div */

  .thirdDiv__content {
    height: 72rem;
  }
}

@media screen and (max-width: 520px) {
  /* Footer */
  .footer__nav {
    padding-left: 0rem;
  }

  /* Second Page! */

  .regStr__formDiv {
    width: 25rem;
  }
}

@media screen and (max-width: 485px) {
  .second__div {
    height: 90rem;
  }

  .secondDiv__contentDiv {
    height: 83rem;
  }
}

@media screen and (max-width: 480px) {
  /* Fourth Div */

  .fourthDiv__contentTop {
    height: 55rem;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  .fourthDiv__content {
    height: 80rem;
  }

  .fourthDiv__contentTop h3 {
    font-size: 2rem;
    word-spacing: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .fourthDiv__contentTop div:last-child {
    margin-top: 2rem;
  }

  .fourthDiv__contentBottom {
    margin: 10rem auto;
  }

  /* Fifth Div */

  .fifthDiv__content {
    height: 105rem;
  }

  .fifthDiv__contentDiv {
    height: 50rem;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    margin: 0rem auto;
    padding: 3rem 0rem;
  }

  .appProcedure {
    padding-left: 1.5rem;
    width: 90%;
    padding-bottom: 2rem;
  }

  .documents {
    padding-bottom: 10rem;
  }

  /* Banners */

  .banners {
    height: 7rem;
  }

  .banners > h2 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 450px) {
  /* Third Div */

  .thirdDiv__content {
    height: 68rem;
  }

  .thirdDiv_contentBottomRight > img {
    width: 16rem;
    height: 16rem;
    margin-top: -3rem;
  }

  /* Fourth Div */

  .fourthDiv__content {
    height: 85rem;
  }

  .fourthDiv__contentBottom {
    margin: 12rem auto;
  }

  /* Footer */
  .footer__navs {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 425px) {
  /* Third Div */

  .thirdDiv_contentTop {
    margin-bottom: 3rem;
  }

  /* Second Page! */

  .regStr__formDiv {
    width: 20rem;
  }
}

@media screen and (max-width: 420px) {
  /* Home Div */

  h1 {
    font-size: 1.8rem !important;
  }

  .homeForSmall__txtContent {
    margin-top: -3rem;
  }

  .homeForSmall__txtContent > p {
    font-size: 0.9rem !important;
  }

  /* Fourth Div */

  .fourthDiv__content {
    height: 88rem;
  }

  .fourthDiv__contentBottom {
    margin: 15rem auto;
  }

  /* Footer */

  .footer__navs {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 400px) {
  /* Footer */
  .footer__navs {
    padding-left: 0.5rem;
  }

  /* Third Div */

  .thirdDiv__content {
    height: 72rem;
  }
}

@media screen and (max-width: 380px) {
  /* Burger */

  .burgerIcon {
    right: 1rem;
    top: 3.3rem;
  }

  /* Third Div */

  .thirdDiv_contentTop {
    margin-bottom: 5rem;
  }

  .thirdDiv_contentBottomRight > img {
    width: 16rem;
    height: 16rem;
    margin-top: -9rem;
  }

  /* Second Page */

  .backBtn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 362px) {
  /* Second Page */

  .regStr__formSections p {
    font-size: .9rem!important;
    padding-left: .5rem;
  }

  .regStr__formSections input {
    margin-left: 1rem;
    margin-top: 1.2rem;
  }
}


@media screen and (max-width: 360px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 15rem;
    height: 15rem;
    margin-top: -10rem;
  }

  /* Second Page */

  .backBtn {
    font-size: 0.7rem;
  }

  .regStr__formDiv {
    width: 18rem;
  }
}

@media screen and (max-width: 357px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 15rem;
    height: 15rem;
    margin-top: -14rem;
  }
}

@media screen and (max-width: 350px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 15rem;
    height: 15rem;
    margin-top: -15rem;
  }

  /* Fourth Div */

  .fourthDiv__content {
    height: 92rem;
  }

  .fourthDiv__contentBottom {
    margin: 17rem auto;
  }
}

@media screen and (max-width: 325px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 13rem;
    height: 13rem;
    margin-top: -17rem;
  }

  /* Fourth Div */

  .fourthDiv__content {
    height: 95rem;
  }

  .fourthDiv__contentBottom {
    margin: 19rem auto;
  }
}

@media screen and (max-width: 320px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 12rem;
    height: 12rem;
    margin-top: -20rem;
  }
}

@media screen and (max-width: 300px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 10rem;
    height: 10rem;
    margin-top: -23rem;
  }
}

@media screen and (max-width: 280px) {
  /* Third Div */
  .thirdDiv_contentBottomRight > img {
    width: 7rem;
    height: 7rem;
    margin-top: -22rem;
  }
}
